@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* apply Young Serif font, font weight, line height, color */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-normal leading-none text-text-light;
  }

  h1 {
    @apply text-heading-lg my-lg;
  }

  h2 {
    @apply text-heading-md my-lg;
  }

  h3 {
    @apply text-heading-sm my-md;
  }

  h4,
  h5,
  h6 {
    @apply text-heading-sm my-sm;
  }

  a {
    @apply text-primary no-underline transition-[all] duration-200 ease-custom-default;
  }

  a:hover {
    @apply text-primary-dark underline;
  }

  button {
    @apply border-spacing-0 bg-none cursor-pointer;
  }

  p {
    @apply my-md;
  }
}

:root {
  --font-family-heading: 'Young Serif', serif;

  --font-weight-heading: 400;

  --font-family-body: 'Poppins', sans-serif;

  --font-weight-body: 300;
  --font-weight-body-bold: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: var(--font-body-medium);

  background: var(--color-background-dark);
}
